<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let campaign of campaigns">
      <img [src]="campaign.cover_image" alt="">
    </ion-slide>
  </ion-slides>
  <ion-row *ngFor="let shortcut of shortcuts">
    <ion-col size="12">
      {{shortcut.name}}
    </ion-col>
    <ion-col size="4" *ngFor="let action of shortcut.actions">
      <img [src]="action.image" alt="">
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let camp of campaigns">
      <ion-col size="12">
        {{camp.name}}
      </ion-col>
      <ion-col [size]="camp.col_size" *ngFor="let prod of camp.products">
        <img [src]="prod.images[0]" alt="">
      </ion-col>
    </ion-row>
</ion-content>